h1{
  text-align: center;
  text-shadow: #FC0 1px 0 10px;
  column-rule-color: lightblue;
}
#checkpoint {
  color: #000;
  background-color: #fff;
  opacity: 0.8;
  text-align: center;
  position: absolute;
  left: 250px;
  right: 250px;
  padding: 20px;
  border: 1px gray solid;
}
